:root {
  --text-color-main: #212121;
  --text-color: #757575;
  --text-color-accent: #2196f3;
  --text-color-white: #ffffff;

  --background-color-main: #ffffff;
  --background-color-dark: #2f303a;
  --background-color-gray: #f5f4fa;
  --background-color-accent: #2196f3;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.me {
  width: 500px;
}
